body{
  margin:0;
  height: 100vh;
  width: 100%;
  background: #e0e0e0 ; 
}

header{
  background-color:rosybrown;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index:8;
}

.logo{
  height: 60px;
  width: 60px;
}

.login-option{
  padding: 5px;
}

.scroll{
  font-weight: bold;
  padding : 15px;
  display:flex;
  justify-content: center;
  gap: 30px;
}

.list-img{
  display:flex;
  
}

.img-raddison img{
  height: 150px;
  width: 150px ; 
}

.img-lalit img{
  height: 150px;
  width: 150px ;
}

.img-taj img{
  height: 150px;
  width: 150px ;
}

.img-raddison{
  background: rgb(132,136,139);
  width: 40%;
  margin: 4%;

}
.img-lalit{
  background: rgb(132,136,139);
  width: 40%;
  margin: 4%;

}
.img-taj{
  background: rgb(132,136,139);
  width: 40%;
  margin: 4%;
}

.map{
  display: none;
}

footer{
  background: rosybrown;
  position: fixed;
  height: 60px;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.contact-us-option{
  padding:5px;
}

.smedia-icons{
  margin-left : 100px ;
  order:3;
  padding-right: 5px;
}

.nothing{
  font-size: 10px;
  align-self: flex-end;
  
}

